.home-container{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-bar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;
    position: fixed;
    z-index: 999;
    background-color: var(--colorBlack);

}
.nav-bar-container ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.nav-bar-container li{
    list-style: none;
}

.search-bar-container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.search-bar-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.search-bar-content input{
    height: 4vh;
    border-radius: 5px;
    border: none;
    padding: 2%;
    width: 100%;
    box-shadow: 2px 2px 0px 0px var(--lightBlue);
}
.search-bar-content button{
    padding: 10px 10px;
    box-shadow: 2px 2px 0px 0px var(--lightBlue);
    background-color: var(--colorGray);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

/* tweets and newspaper information */
.result-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-bottom: 100px;
}
.result-card{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: var(--colorGray);
    box-shadow: rgb(167, 167, 167) 2px 2px 1px;
}
.result-card-information{
    padding: 5%;
}

.result-card-information a {
    color: var(--lightBlue)
}

/* Confidence thermomether*/
.confidence-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .confidence-thermometer {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 2vh;
    background-color: var(--colorGray);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .thermometer-bar {
    height: 100%;
    background-color: var(--lightBlue);
  }
  
  .confidence-text {
    text-align: center;
  }
  .confidence-text span{
    color: gray;
  }
  